# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Distribution / packaging
.Python
build/
dist/
eggs/
*.egg

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor-specific files
.vscode/        # Visual Studio Code
.idea/          # IntelliJ IDEA / PyCharm
*.swp           # Vim swap files
*~              # Emacs backup files
.DS_Store       # macOS specific files

# Logs and databases
*.log
*.sqlite3
instance/       # Flask instance folder
db.sqlite3      # Common Django database file
/media/
/media
media/
media/*
*.xls
*.xlsx
*.xls#
*.xlsx#

# Documentation
docs/_build/

# Jupyter Notebook specific files
.ipynb_checkpoints/

# Test and coverage reports
htmlcov/
.coverage
.coverage.*
.tox/
.nox/
nosetests.xml
coverage.xml
*.cover

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Other temporary files
*.tmp
*.bak